* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
*.go text eol=lf
*.html text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
go.mod text eol=lf
LICENSE text eol=lf
